body{
    padding: 0;
    margin: 0;
    background-color: #210064;
}
h1{
    text-align: center;
    color: rgb(220,220,220);
    font-size: 3em;
}
form{
    margin-left: 35vw;
    margin-top: 10vh;
    width: 320px;
    height: 380px;
    padding: 20px;
    background-color: rgb(10, 8,46);
    border-radius: 12px;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 1);
}

table{
    padding: 5% 10px;
}

#display {
    margin: 15px 10px;
    padding: 10px 4px;
    font-size: 28px;
    width: 250px;
    color: rgb(162, 162, 162);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 1);
}
input{
    outline: none;
}

input[type=button]{
    font-family: sans-serif;
    padding: 0;
    width: 65px;
    height: 65px;
    font-size: 20px;
    background-color: rgb(10,0,46);
    color: #c4c4c4;
    opacity: .8;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 1);
}

input[type=button]:hover{
    color: rgb(0,214,252);
    box-shadow: 5px 5px 15px 2px rgba(34, 10, 255, .4);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,85,124,1) 40%, rgba(0,212,255,1) 100%);
}